<% include ./partials/header %>
<div class="container">
   <h1>BREAD(Browse, Read, Edit, Add, Delete)</h1>
   <h2>FILTER</h2>

   <form action="/">
      <div class="form-group row">
         <input class="form-check-input col-sm-1" type="checkbox" name="id3" id="defaultCheck1"
            <%= (query.id3) ? 'checked': ''%>>
         <label for="id" class="col-sm-2 col-form-label">ID</label>
         <div class="col-sm-5">
            <input type="text" class="form-control" id="id" name="id" placeholder="id" value="<%=query.id%>">
         </div>
      </div>

      <div class="form-group row">
         <input class="form-check-input col-sm-1" type="checkbox" name="string3" id="defaultCheck1"
            <%= (query.string3) ? 'checked': ''%>>
         <label for="string" class="col-sm-2 col-form-label">STRING</label>
         <div class="col-sm-5">
            <input type="text" class="form-control" id="string" name="string" placeholder="string"
               value="<%=query.string%>">
         </div>
      </div>

      <div class="form-group row">
         <input class="form-check-input col-sm-1" type="checkbox" name="integer3" id="defaultCheck1"
            <%= (query.integer3) ? 'checked': ''%>>
         <label for="integer" class="col-sm-2 col-form-label">Integer</label>
         <div class="col-sm-5">
            <input type="text" class="form-control" id="integer" placeholder='integer' name="integer"
               value="<%=query.integer%>">
         </div>
      </div>

      <div class="form-group row">
         <input class="form-check-input col-sm-1" type="checkbox" name="float3" id="defaultCheck1"
            <%= (query.float3) ? 'checked': ''%>>
         <label for="float" class="col-sm-2 col-form-label">Float</label>
         <div class="col-sm-5">
            <input type="text" class="form-control" id="float" placeholder="Float" name="float"
               value="<%=query.float%>">
         </div>
      </div>

      <div class="form-group row">
         <input class="form-check-input col-sm-1" type="checkbox" name="date3" id="defaultCheck1"
            <%= (query.date3) ? 'checked': ''%>>
         <label for="date" class="col-sm-2 col-form-label">Date</label>
         <div class="col-sm-3">
            <input class="form-control" name="date" id="date" placeholder="Start Date" onfocus="(this.type='date')"
               value="<%=query.date%>">
            to
            <input class="form-control" name="date1" id="date" placeholder="End Date" onfocus="(this.type='date')"
               value="<%=query.date1%>">
         </div>
      </div>

      <div class="form-group row">
         <input class="form-check-input col-sm-1" type="checkbox" name="boolean3" id="defaultCheck1"
            <%= (query.boolean3) ? 'checked': ''%>>
         <label for="boolean" class="col-sm-2 col-form-label">Boolean</label>
         <div class="col-sm-5">
            <select name="boolean" class="form-control">
               <% if(query.boolean == "false"){%>
               <option>Choose the boolean ...</option>
               <option selected>false</option>
               <option>true</option>
               <%} else if((query.boolean == "true")) {%>
               <option>Choose the boolean ...</option>
               <option selected>true</option>
               <option>false</option>
               <%} else{%>
               <option>Choose the boolean ...</option>
               <option>true</option>
               <option>false</option>
               <%}%>
            </select>
         </div>
      </div>

      <button type="submit" class="btn btn-primary">Search</button>
      <a href="/" class="btn btn-danger"> Reset </a>
   </form>
   <br><br>

   


   <table class="table table-striped" id="myTable">
      <thead style="border-bottom: none;">
         <tr></tr>
         <th scope="col">ID</th>
         <th scope="col">String</th>
         <th scope="col">Integer</th>
         <th scope="col">Float</th>
         <th scope="col">Date</th>
         <th scope="col">Boolean</th>
         <th scope="col">Actions</th>
         </tr>
      </thead>
      <tbody>
         <%data.forEach((item)=>{%>
               <tr>
                  <th scope="row"><%= item._id%></th>
                  <td><%= item.string%></td>
                  <td><%= item.integer%></td>
                  <td><%= item.float%></td>
                  <td><%= moment(item.date).format('YYYY-MM-DD')%></td>
                  <td><%= item.boolean%></td>
                  <td><a href="/edit/<%= item._id%>" class="btn btn-success">Edit </a></button>
                     <a href="/delete/<%= item._id%>" class="btn btn-danger"
                        onclick="return confirm('Delete ID ( <%= item._id%> ) bro ?');">Delete</button></td>
               </tr>
               <%})%>
               </tbody>
               </table>

               <nav aria-label="Page navigation example">
                  <ul class="pagination">
                     <li class="page-item<%= pagination.page == 1 ?' disabled' : ''%>"><a class="page-link" href="/?page=<%=
                           parseInt(pagination.page)-1%>">Previous</a>
                     </li>
                     <% for (let i = 1; i <= pagination.pages; i++) {%>
                     <li class="page-item<%= i == pagination.page ?' active' : ''%>"><a class="page-link"
                           href="/?page=<%= i %>"><%= i %></a></li>
                     <% } %>
                     <li class="page-item<%= pagination.page == pagination.pages ?' disabled' : ''%>"><a
                           class="page-link" href="/?page=<%= parseInt(pagination.page) + 1%>">Next</a></li>
                  </ul>
               </nav>

               <a href="add" class=" btn btn-lg btn-primary ">Add</a>
               </br></br></br>
         </div>
         <% include ./partials/footer %>